<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Edit post</title>
</head>
<body>
   <h2>Edit your post</h2>
   <p>Post Id: <%= post.id %></p>
   <p>Post username: <%= post.username %></p>
   <form action="/posts/<%= post.id %>?_method=PATCH" method="post">
      <!-- Corrected form action -->
      <textarea name="content" cols="30" rows="10"><%= post.content %></textarea> <!-- Pre-fill content -->
      <button type="submit">Submit</button>
   </form>
</body>
</html>
