<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Create a new post</title>
</head>
<body>
   <form action="/posts" method="post">
      <input type="text" placeholder="username" name="username">
       <br><br>
       <textarea placeholder="write your post" name="content" id="content" cols="30" rows="10"></textarea>
       <br><br><br>
       <button type="submit">Submit Post</button>
   </form>
</body>
</html>
